
@{
    ViewData["Title"] = "Günlük Kiralık Daireler";
    Layout = "~/Views/_Layout.cshtml";
}
<!-- TOP AREA -->
<div class="top-area show-onload">
    <div class="owl-carousel owl-slider owl-carousel-area" id="owl-carousel-slider">
        <div class="bg-holder full text-center text-white">
            <div class="bg-mask"></div>
            <div class="bg-img" style="background-image:url(img/ist.jpeg);"></div>
            <div class="bg-front full-center">
                <div class="owl-cap">
                    <h1 class="owl-cap-title fittext">İstanbul</h1>
                    <div class="owl-cap-price">
                        @*<small>from</small>*@
                        <h5>En uygun konaklama yerleri</h5>
                    </div><a class="btn btn-white btn-ghost" href="#"><i class="fa fa-angle-right"></i>Ara</a>
                </div>
            </div>
        </div>
        <div class="bg-holder full text-center text-white">
            <div class="bg-mask"></div>
            <div class="bg-img" style="background-image:url(img/ayt.jpeg);"></div>
            <div class="bg-front full-center">
                <div class="owl-cap">
                    <h1 class="owl-cap-title fittext">Antalya</h1>
                    <div class="owl-cap-price">
                        @*<small>from</small>*@
                        <h5>Hayalindeki tatili erteleme!</h5>
                    </div><a class="btn btn-white btn-ghost" href="#"><i class="fa fa-angle-right"></i> Ara</a>
                </div>
            </div>
        </div>
        <div class="bg-holder full text-center text-white">
            <div class="bg-mask"></div>
            <div class="bg-img" style="background-image:url(img/bodrum.jpg);"></div>
            <div class="bg-front full-center">
                <div class="owl-cap">
                    <h1 class="owl-cap-title fittext">Bodrum</h1>
                    <div class="owl-cap-price">
                        @*<small>from</small>*@
                        <h5>Konaklama için en uygun yeri bul!</h5>
                    </div><a class="btn btn-white btn-ghost" href="#"><i class="fa fa-angle-right"></i> Ara</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END TOP AREA  -->

<div class="container">
    <div class="search-tabs search-tabs-bg search-tabs-to-top">
        <div class="tabbable">
            <ul class="nav nav-tabs" id="myTab">
                <li class="active">
                    <a href="#tab-1" data-toggle="tab"><i class="fa fa-building-o"></i> <span>@Localizer["daily"]</span></a>
                </li>
                <li>
                    <a href="#tab-2" data-toggle="tab"><i class="fa fa-clock-o"></i> <span>@Localizer["hourly"]</span></a>
                </li>
                @*<li>
                        <a href="#tab-3" data-toggle="tab"><i class="fa fa-home"></i> <span>Rentals</span></a>
                    </li>
                    <li>
                        <a href="#tab-4" data-toggle="tab"><i class="fa fa-car"></i> <span>Cars</span></a>
                    </li>
                    <li>
                        <a href="#tab-5" data-toggle="tab"><i class="fa fa-bolt"></i> <span>Activities</span></a>
                    </li>*@
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade in active" id="tab-1">
                    @*<h2>@Localizer["find_best_holiday"]</h2>*@
                    <form>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group form-group-lg form-group-icon-left">
                                    <i class="fa fa-map-marker input-icon"></i>
                                    <label>@Localizer["where_want_you_go"]</label>
                                    <input class="typeahead form-control" placeholder="City, Airport, Point of Interest or U.S. Zip Code" type="text" />
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="input-daterange" data-date-format="dd mm yyyy">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group form-group-lg form-group-icon-left">
                                                <i class="fa fa-calendar input-icon input-icon-highlight"></i>
                                                <label>@Localizer["check_in"]</label>
                                                <input class="form-control" name="start" type="text" />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group form-group-lg form-group-icon-left">
                                                <i class="fa fa-calendar input-icon input-icon-highlight"></i>
                                                <label>@Localizer["check_out"]</label>
                                                <input class="form-control" name="end" type="text" />
                                            </div>
                                        </div>
                                        @*<div class="col-md-3">
                                                <div class="form-group form-group-lg form-group-select-plus">
                                                    <label>@Localizer["rooms"]</label>
                                                    <div class="btn-group btn-group-select-num" data-toggle="buttons">
                                                        <label class="btn btn-primary active">
                                                            <input type="radio" name="options" />1
                                                        </label>
                                                        <label class="btn btn-primary">
                                                            <input type="radio" name="options" />2
                                                        </label>
                                                        <label class="btn btn-primary">
                                                            <input type="radio" name="options" />3
                                                        </label>
                                                        <label class="btn btn-primary">
                                                            <input type="radio" name="options" />3+
                                                        </label>
                                                    </div>
                                                    <select class="form-control hidden">
                                                        <option>1</option>
                                                        <option>2</option>
                                                        <option>3</option>
                                                        <option selected="selected">4</option>
                                                        <option>5</option>
                                                        <option>6</option>
                                                        <option>7</option>
                                                        <option>8</option>
                                                        <option>9</option>
                                                        <option>10</option>
                                                        <option>11</option>
                                                        <option>12</option>
                                                        <option>13</option>
                                                        <option>14</option>
                                                    </select>
                                                </div>
                                            </div>*@
                                        <div class="col-md-3">
                                            <div class="form-group form-group-lg form-group-select-plus">
                                                <label>@Localizer["guests"]</label>
                                                <div class="btn-group btn-group-select-num" data-toggle="buttons">
                                                    <label class="btn btn-primary active">
                                                        <input type="radio" name="options" />1
                                                    </label>
                                                    <label class="btn btn-primary">
                                                        <input type="radio" name="options" />2
                                                    </label>
                                                    <label class="btn btn-primary">
                                                        <input type="radio" name="options" />3
                                                    </label>
                                                    <label class="btn btn-primary">
                                                        <input type="radio" name="options" />3+
                                                    </label>
                                                </div>
                                                <select class="form-control hidden">
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option selected="selected">4</option>
                                                    <option>5</option>
                                                    <option>6</option>
                                                    <option>7</option>
                                                    <option>8</option>
                                                    <option>9</option>
                                                    <option>10</option>
                                                    <option>11</option>
                                                    <option>12</option>
                                                    <option>13</option>
                                                    <option>14</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <button class="btn btn-primary btn-lg search-btn" type="submit">@Localizer["search"]</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="tab-pane fade" id="tab-2">
                    @*<h2>@Localizer["find_best_holiday"]</h2>*@
                    <form>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group form-group-lg form-group-icon-left">
                                    <i class="fa fa-map-marker input-icon"></i>
                                    <label>@Localizer["where_want_you_go"]</label>
                                    <input class="typeahead form-control" placeholder="City, Airport, Point of Interest or U.S. Zip Code" type="text" />
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group form-group-lg form-group-icon-left">
                                                <i class="fa fa-calendar input-icon input-icon-highlight"></i>
                                                <label>@Localizer["check_in"]</label>
                                                <input class="time-pick form-control" name="start" type="text" />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group form-group-lg form-group-icon-left">
                                                <i class="fa fa-calendar input-icon input-icon-highlight"></i>
                                                <label>@Localizer["check_out"]</label>
                                                <input class=" time-pick form-control" name="end" type="text" />
                                            </div>
                                        </div>
                                        @*<div class="col-md-3">
                                            <div class="form-group form-group-lg form-group-select-plus">
                                                <label>@Localizer["rooms"]</label>
                                                <div class="btn-group btn-group-select-num" data-toggle="buttons">
                                                    <label class="btn btn-primary active">
                                                        <input type="radio" name="options" />1
                                                    </label>
                                                    <label class="btn btn-primary">
                                                        <input type="radio" name="options" />2
                                                    </label>
                                                    <label class="btn btn-primary">
                                                        <input type="radio" name="options" />3
                                                    </label>
                                                    <label class="btn btn-primary">
                                                        <input type="radio" name="options" />3+
                                                    </label>
                                                </div>
                                                <select class="form-control hidden">
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option selected="selected">4</option>
                                                    <option>5</option>
                                                    <option>6</option>
                                                    <option>7</option>
                                                    <option>8</option>
                                                    <option>9</option>
                                                    <option>10</option>
                                                    <option>11</option>
                                                    <option>12</option>
                                                    <option>13</option>
                                                    <option>14</option>
                                                </select>
                                            </div>
                                        </div>*@
                                        <div class="col-md-3">
                                            <div class="form-group form-group-lg form-group-select-plus">
                                                <label>@Localizer["guests"]</label>
                                                <div class="btn-group btn-group-select-num" data-toggle="buttons">
                                                    <label class="btn btn-primary active">
                                                        <input type="radio" name="options" />1
                                                    </label>
                                                    <label class="btn btn-primary">
                                                        <input type="radio" name="options" />2
                                                    </label>
                                                    <label class="btn btn-primary">
                                                        <input type="radio" name="options" />3
                                                    </label>
                                                    <label class="btn btn-primary">
                                                        <input type="radio" name="options" />3+
                                                    </label>
                                                </div>
                                                <select class="form-control hidden">
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option selected="selected">4</option>
                                                    <option>5</option>
                                                    <option>6</option>
                                                    <option>7</option>
                                                    <option>8</option>
                                                    <option>9</option>
                                                    <option>10</option>
                                                    <option>11</option>
                                                    <option>12</option>
                                                    <option>13</option>
                                                    <option>14</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <button class="btn btn-primary btn-lg search-btn" type="submit">@Localizer["search"]</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                     
                    </form>
                </div>
                @*<div class="tab-pane fade" id="tab-3">
                        <h2>Find Your Perfect Home</h2>
                        <form>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group form-group-lg form-group-icon-left">
                                        <i class="fa fa-map-marker input-icon"></i>
                                        <label>Where are you going?</label>
                                        <input class="typeahead form-control" placeholder="City, Airport, Point of Interest or U.S. Zip Code" type="text" />
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="input-daterange" data-date-format="M d, D">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group form-group-lg form-group-icon-left">
                                                    <i class="fa fa-calendar input-icon input-icon-highlight"></i>
                                                    <label>Check-in</label>
                                                    <input class="form-control" name="start" type="text" />
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group form-group-lg form-group-icon-left">
                                                    <i class="fa fa-calendar input-icon input-icon-highlight"></i>
                                                    <label>Check-out</label>
                                                    <input class="form-control" name="end" type="text" />
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group form-group-lg form-group-select-plus">
                                                    <label>Rooms</label>
                                                    <div class="btn-group btn-group-select-num" data-toggle="buttons">
                                                        <label class="btn btn-primary active">
                                                            <input type="radio" name="options" />1
                                                        </label>
                                                        <label class="btn btn-primary">
                                                            <input type="radio" name="options" />2
                                                        </label>
                                                        <label class="btn btn-primary">
                                                            <input type="radio" name="options" />3
                                                        </label>
                                                        <label class="btn btn-primary">
                                                            <input type="radio" name="options" />3+
                                                        </label>
                                                    </div>
                                                    <select class="form-control hidden">
                                                        <option>1</option>
                                                        <option>2</option>
                                                        <option>3</option>
                                                        <option selected="selected">4</option>
                                                        <option>5</option>
                                                        <option>6</option>
                                                        <option>7</option>
                                                        <option>8</option>
                                                        <option>9</option>
                                                        <option>10</option>
                                                        <option>11</option>
                                                        <option>12</option>
                                                        <option>13</option>
                                                        <option>14</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group form-group-lg form-group-select-plus">
                                                    <label>Guests</label>
                                                    <div class="btn-group btn-group-select-num" data-toggle="buttons">
                                                        <label class="btn btn-primary active">
                                                            <input type="radio" name="options" />1
                                                        </label>
                                                        <label class="btn btn-primary">
                                                            <input type="radio" name="options" />2
                                                        </label>
                                                        <label class="btn btn-primary">
                                                            <input type="radio" name="options" />3
                                                        </label>
                                                        <label class="btn btn-primary">
                                                            <input type="radio" name="options" />3+
                                                        </label>
                                                    </div>
                                                    <select class="form-control hidden">
                                                        <option>1</option>
                                                        <option>2</option>
                                                        <option>3</option>
                                                        <option selected="selected">4</option>
                                                        <option>5</option>
                                                        <option>6</option>
                                                        <option>7</option>
                                                        <option>8</option>
                                                        <option>9</option>
                                                        <option>10</option>
                                                        <option>11</option>
                                                        <option>12</option>
                                                        <option>13</option>
                                                        <option>14</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-primary btn-lg" type="submit">Search for Vacation Rentals</button>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="tab-4">
                        <h2>Search for Cheap Rental Cars</h2>
                        <form>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group form-group-lg form-group-icon-left">
                                                <i class="fa fa-map-marker input-icon"></i>
                                                <label>Pick-up Location</label>
                                                <input class="typeahead form-control" placeholder="City, Airport, U.S. Zip" type="text" />
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group form-group-lg form-group-icon-left">
                                                <i class="fa fa-map-marker input-icon"></i>
                                                <label>Drop-off Location</label>
                                                <input class="typeahead form-control" placeholder="City, Airport, U.S. Zip" type="text" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="input-daterange" data-date-format="M d, D">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group form-group-lg form-group-icon-left">
                                                    <i class="fa fa-calendar input-icon input-icon-highlight"></i>
                                                    <label>Pick-up Date</label>
                                                    <input class="form-control" name="start" type="text" />
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group form-group-lg form-group-icon-left">
                                                    <i class="fa fa-calendar input-icon input-icon-highlight"></i>
                                                    <label>Drop-ff Date</label>
                                                    <input class="form-control" name="end" type="text" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-primary btn-lg" type="submit">Search for Rental Cars</button>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="tab-5">
                        <h2>Search for Activities</h2>
                        <form>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group form-group-lg form-group-icon-left">
                                        <i class="fa fa-map-marker input-icon"></i>
                                        <label>Where are you going?</label>
                                        <input class="typeahead form-control" placeholder="City, Airport, Point of Interest or U.S. Zip Code" type="text" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="input-daterange" data-date-format="M d, D">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group form-group-lg form-group-icon-left">
                                                    <i class="fa fa-calendar input-icon input-icon-highlight"></i>
                                                    <label>From</label>
                                                    <input class="form-control" name="start" type="text" />
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group form-group-lg form-group-icon-left">
                                                    <i class="fa fa-calendar input-icon input-icon-highlight"></i>
                                                    <label>To</label>
                                                    <input class="form-control" name="end" type="text" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-primary btn-lg" type="submit">Search for Activities</button>
                        </form>
                    </div>*@
            </div>
        </div>
    </div>
    <div class="gap"></div>
    <div class="row">
        <div class="col-md-4">
            <h3>@Localizer["trendy"]<small><a href="#">@Localizer["view_all"]</a></small></h3>
            <ul class="booking-list">
                <li>
                    <div class="booking-item booking-item-small">
                        <div class="row">
                            <div class="col-xs-4">
                                <img src="img/800x600.png" alt="Image Alternative text" title="hotel PORTO BAY LIBERDADE" />
                            </div>
                            <div class="col-xs-5">
                                <h5 class="booking-item-title">Holiday Inn Express Kennedy</h5>
                                <ul class="icon-group booking-item-rating-stars">
                                    <li>
                                        <i class="fa fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fa fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fa fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fa fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fa fa-star-o"></i>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-xs-3">
                                <span class="booking-item-price-from">from</span><span class="booking-item-price">$387</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="booking-item booking-item-small">
                        <div class="row">
                            <div class="col-xs-4">
                                <img src="img/800x600.png" alt="Image Alternative text" title="LHOTEL PORTO BAY SAO PAULO lobby" />
                            </div>
                            <div class="col-xs-5">
                                <h5 class="booking-item-title">JFK Inn</h5>
                                <ul class="icon-group booking-item-rating-stars">
                                    <li>
                                        <i class="fa fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fa fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fa fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fa fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fa fa-star-half-empty"></i>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-xs-3">
                                <span class="booking-item-price-from">from</span><span class="booking-item-price">$467</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="booking-item booking-item-small">
                        <div class="row">
                            <div class="col-xs-4">
                                <img src="img/800x600.png" alt="Image Alternative text" title="hotel EDEN MAR suite" />
                            </div>
                            <div class="col-xs-5">
                                <h5 class="booking-item-title">Club Quarters Grand Central</h5>
                                <ul class="icon-group booking-item-rating-stars">
                                    <li>
                                        <i class="fa fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fa fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fa fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fa fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fa fa-star-o"></i>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-xs-3">
                                <span class="booking-item-price-from">from</span><span class="booking-item-price">$465</span>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            <h3>@Localizer["hot_products"]<small><a href="#">@Localizer["view_all"]</a></small></h3>
            <ul class="booking-list">
                <li>
                    <div class="booking-item booking-item-small">
                        <div class="row">
                            <div class="col-xs-4">
                                <img src="img/800x600.png" alt="Image Alternative text" title="LHOTEL PORTO BAY SAO PAULO luxury suite" />
                            </div>
                            <div class="col-xs-5">
                                <h5 class="booking-item-title">Wyndham Garden Chinatown</h5>
                                <ul class="icon-group booking-item-rating-stars">
                                    <li>
                                        <i class="fa fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fa fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fa fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fa fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fa fa-star-o"></i>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-xs-3">
                                <span class="booking-item-price-from">from</span><span class="booking-item-price">$170</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="booking-item booking-item-small">
                        <div class="row">
                            <div class="col-xs-4">
                                <img src="img/800x600.png" alt="Image Alternative text" title="hotel PORTO BAY SERRA GOLF suite" />
                            </div>
                            <div class="col-xs-5">
                                <h5 class="booking-item-title">The Kimberly Hotel</h5>
                                <ul class="icon-group booking-item-rating-stars">
                                    <li>
                                        <i class="fa fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fa fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fa fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fa fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fa fa-star-o"></i>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-xs-3">
                                <span class="booking-item-price-from">from</span><span class="booking-item-price">$190</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="booking-item booking-item-small">
                        <div class="row">
                            <div class="col-xs-4">
                                <img src="img/800x600.png" alt="Image Alternative text" title="LHOTEL PORTO BAY SAO PAULO suite lhotel living room" />
                            </div>
                            <div class="col-xs-5">
                                <h5 class="booking-item-title">Bryant Park Hotel</h5>
                                <ul class="icon-group booking-item-rating-stars">
                                    <li>
                                        <i class="fa fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fa fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fa fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fa fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fa fa-star-half-empty"></i>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-xs-3">
                                <span class="booking-item-price-from">from</span><span class="booking-item-price">$458</span>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            <h3>@Localizer["special_you"]<small><a href="#">@Localizer["view_all"]</a></small></h3>
            <ul class="booking-list">
                <li>
                    <div class="booking-item booking-item-small">
                        <div class="row">
                            <div class="col-xs-4">
                                <img src="img/800x600.png" alt="Image Alternative text" title="hotel PORTO BAY RIO INTERNACIONAL rooftop pool" />
                            </div>
                            <div class="col-xs-5">
                                <h5 class="booking-item-title">Warwick New York Hotel</h5>
                                <ul class="icon-group booking-item-rating-stars">
                                    <li>
                                        <i class="fa fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fa fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fa fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fa fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fa fa-star"></i>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-xs-3">
                                <span class="booking-item-price-from">from</span><span class="booking-item-price">$418</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="booking-item booking-item-small">
                        <div class="row">
                            <div class="col-xs-4">
                                <img src="img/800x600.png" alt="Image Alternative text" title="hotel PORTO BAY RIO INTERNACIONAL de luxe" />
                            </div>
                            <div class="col-xs-5">
                                <h5 class="booking-item-title">The London NYC</h5>
                                <ul class="icon-group booking-item-rating-stars">
                                    <li>
                                        <i class="fa fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fa fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fa fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fa fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fa fa-star-o"></i>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-xs-3">
                                <span class="booking-item-price-from">from</span><span class="booking-item-price">$316</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="booking-item booking-item-small">
                        <div class="row">
                            <div class="col-xs-4">
                                <img src="img/800x600.png" alt="Image Alternative text" title="hotel PORTO BAY SERRA GOLF suite2" />
                            </div>
                            <div class="col-xs-5">
                                <h5 class="booking-item-title">Affinia Shelburne</h5>
                                <ul class="icon-group booking-item-rating-stars">
                                    <li>
                                        <i class="fa fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fa fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fa fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fa fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fa fa-star-half-empty"></i>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-xs-3">
                                <span class="booking-item-price-from">from</span><span class="booking-item-price">$350</span>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="gap gap-small"></div>
    <h2 class="mb20">@Localizer["popular_destinations"]</h2>
    <div class="row row-wrap">
        <div class="col-md-4">
            <div class="thumb">
                <header class="thumb-header">
                    <a class="hover-img curved" href="#">
                        <img src="img/400x300.png" alt="Image Alternative text" title="the journey home" /><i class="fa fa-plus box-icon-white box-icon-border hover-icon-top-right round"></i>
                    </a>
                </header>
                <div class="thumb-caption">
                    <h4 class="thumb-title">Africa</h4>
                    <p class="thumb-desc">Fusce nascetur proin ligula nisi at scelerisque odio cum accumsan</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumb">
                <header class="thumb-header">
                    <a class="hover-img curved" href="#">
                        <img src="img/800x600.png" alt="Image Alternative text" title="people on the beach" /><i class="fa fa-plus box-icon-white box-icon-border hover-icon-top-right round"></i>
                    </a>
                </header>
                <div class="thumb-caption">
                    <h4 class="thumb-title">Australia</h4>
                    <p class="thumb-desc">Dignissim himenaeos varius vulputate nullam a leo congue feugiat himenaeos</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumb">
                <header class="thumb-header">
                    <a class="hover-img curved" href="#">
                        <img src="img/800x600.png" alt="Image Alternative text" title="Upper Lake in New York Central Park" /><i class="fa fa-plus box-icon-white box-icon-border hover-icon-top-right round"></i>
                    </a>
                </header>
                <div class="thumb-caption">
                    <h4 class="thumb-title">USA</h4>
                    <p class="thumb-desc">Orci vehicula ac sit vulputate nisl torquent donec litora per</p>
                </div>
            </div>
        </div>
    </div>
    <div class="gap gap-small"></div>
</div>